.header{
    background-color: aquamarine;
    height: 100px;
    text-align: center;
}
.main{
    overflow: hidden;
    margin: 0%;
}
.add{
    background-color: violet;
    height: 300px;
    width: 20%;
    text-align: center;
    float: left;
}
.content{
    background-color: teal;
    height: 600px;
    width: 55%;
    float: left;
    text-align: center;
}
.nav{
    background-color: tomato;
    height: 450px;
    width: 25%;
    float: right;
    text-align: center;
}
hr{
    width: 75%;
    color: rgb(235, 235, 235);
}
.footer{
    background-color: black;
    height: 100px;
    text-align: center;
    color: blanchedalmond;
}